<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <title>Smart Pick - 投資組合首選</title>
    <link rel="stylesheet" href="../static/css/style3.css">
</head>

<body>
    <div class="container">
        <header>
            {% load static %}
            <nav>
                <ul>
                    <li><a href="{% url 'main' %}">首頁</a></li>
                    <li><a href="{% url 'portfolio' %}">投資組合</a></li>
                    <li><a href="{% url 'analysis' %}">績效分析</a></li>
                    <li><a href="{% url 'aboutus' %}">關於我們</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="intro" id="teamSection">
                <h1>開發團隊</h1>
                <p class="subtitle">國立臺北科技大學資訊與財金管理系</p>
                <p class="members">陳珈盈、謝尚均、吳昀宸、魏嘉瑩</p>
                <div class="intro-right">
                    <div class="intro-right">
                        <img src="../static/image/team.png" alt="開發團隊圖片" class="team-image">
                    </div>
                </div>
            </section>

            <section class="tech" id="techSection">
                <h1>開發技術</h1>
                <div class="skills-container">
                  <div class="skills-grid">
                    <div class="skill-card">
                      <div class="skill-header">後端</div>
                      <ul>
                        <li><img src="../static/image/dj.png" alt="Django icon"> Django</li>
                        <li><img src="../static/image/sqlite.png" alt="SQLite icon"> SQLite</li>
                        <li><img src="../static/image/g4.png" alt="GPT-4o icon"> GPT-4o</li>
                      </ul>
                    </div>
                    <div class="skill-card">
                      <div class="skill-header">前端</div>
                      <ul>
                        <li><img src="../static/image/html.png" alt="Next.js icon"> HTML</li>
                        <li><img src="../static/image/cs.png" alt="Tailwind CSS icon"> CSS</li>
                        <li><img src="../static/image/js.png" alt="Material UI icon"> Java Script</li>
                      </ul>
                    </div>
                    <div class="skill-card">
                      <div class="skill-header">UI / UX</div>
                      <ul>
                        <li><img src="../static/image/ai.png" alt="Figma icon"> Adobe Illustrator</li>
                      </ul>
                    </div>
                    <div class="skill-card">
                      <div class="skill-header">統計分析</div>
                      <ul>
                        <li>Stacking</li> <!--堆疊法-->
                        <li>XGBoost</li> <!--極限梯度提升-->
                        <li>Random Forest</li> <!--隨機森林-->
                        <li>GradientBoosting</li> <!--梯度提升技術-->
                      </ul>
                    </div>
                  </div>
                </div>
            </section>

            <section class="time" id="timeSection">
                <div class="gantt-container">
                    <h1>開發時程</h1>
                    <div class="gantt-header">
                        <div>項目 / 月份</div>
                        <div>JAN<br>1月</div>
                        <div>FEB<br>2月</div>
                        <div>MAR<br>3月</div>
                        <div>APR<br>4月</div>
                        <div>MAY<br>5月</div>
                        <div>JUN<br>6月</div>
                        <div>JUL<br>7月</div>
                        <div>AUG<br>8月</div>
                        <div>SEP<br>9月</div>
                        <div>OCT<br>10月</div>
                        <div>NOV<br>11月</div>
                        <div>DEC<br>12月</div>
                    </div>
            
                    <!-- 進度條 -->
                    <div class="gantt-row">
                        <div class="item-title">確立方向、動機</div>
                        <div class="gantt-bar gantt-bar-1"></div>
                    </div>
                    <div class="gantt-row">
                        <div class="item-title">文獻探討、蒐集方法</div>
                        <div class="gantt-bar gantt-bar-2"></div>
                    </div>
                    <div class="gantt-row">
                        <div class="item-title">爬蟲、資料清理</div>
                        <div class="gantt-bar gantt-bar-3"></div>
                    </div>
                    <div class="gantt-row">
                        <div class="item-title">成功指數、情感分析</div>
                        <div class="gantt-bar gantt-bar-4"></div>
                    </div>
                    <div class="gantt-row">
                        <div class="item-title">機器學習模型</div>
                        <div class="gantt-bar gantt-bar-5"></div>
                    </div>
                    <div class="gantt-row">
                        <div class="item-title">前端、後端</div>
                        <div class="gantt-bar gantt-bar-6"></div>
                    </div>
                </div>
            </section>
            
            
        </main>

        <footer class="footer">
            <div class="footer-content">
                <div class="footer-column">
                    <h4><a href="main.html">首頁</a></h4>
                </div>
                <div class="footer-column center column">
                    <h4><a href="portfolio.html">投資組合</a></h4>
                </div>
                <div class="footer-column">
                    <h4><a href="analysis.html">績效分析</a></h4>
                </div>
                <div class="footer-column">
                    <h4><a href="aboutus.html">關於我們</a></h4>
                </div>

                <div class="newsletter-signup">
                    <h4>MORE INFORMATION</h4>
                    <input type="email" placeholder="Email address">
                    <button>SUBSCRIBE</button>
                </div>
            </div>
            <div class="footer-bottom">
                <p class="alert">投資有風險，請仔細評估您的風險承受能力，謹慎決策，以確保您的投資符合自身的財務狀況和目標。</p>
                <p>Copyright © 2024 National Taipei University of Technology. All rights reserved. </p>
            </div>
        </footer>
    </div>

    <!-- <script src="../static/js/aboutusJump.js"></script> -->
    <!-- JavaScript 程式碼 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.12.0/headroom.min.js"></script>
    <script>
        // 選取導覽列
        const navbar = document.querySelector("header");

        // 初始化 Headroom
        const headroom = new Headroom(navbar);
        headroom.init(); // 啟用 Headroom
    </script>
</body>

</html>