<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <title>專題成果展</title>
    <link rel="stylesheet" href="../static/css/style5.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Smart Pick</h1>
            {% load static %}
            <nav>
                <ul>
                    <li><a href="{% url 'main' %}">首頁</a></li>
                    <li><a href="{% url 'portfolio' %}">投資組合</a></li>
                    <li><a href="{% url 'analysis' %}">績效分析</a></li>
                    <li><a href="{% url 'aboutus' %}">關於我們</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="topic">
                <img src="../static/image/onen.jpg " alt="主題圖">
            </section>

            <section class="question">
                <p>你是否曾經在投資時猶豫不決？<br>
                    不知道該選擇哪支股票？<br>
                    擔心投資單一股票卻遭遇意外的市場波動，而被割韭菜？</p>

            </section>

            <section class="statement">
                <p>馬上使用</p>
                <h2>Smart Pick</h2>
                <p>建立你的最佳股票投資組合</p>
            </section>

            <h2>開發技術</h2>
            <section class="tool">
                <div class="nlp">
                    <h3>自然語言處理(NLP)技術</h3>
                </div>
                <div class="gpt">
                    <h3>GPT模型</h3>
                </div>
                <div class="robot">
                    <h3>機器學習方法</h3>
                </div>
            </section>

            <section class="end">
                <p>分析新聞資料的語意和情感<br>
                    同時結合機器學習方法處理股票的基本面、技術面和籌碼面數據<br>
                </p>
                <h4>以最大化報酬率、最小化風險或最大化夏普值為目標</h4>
            </section>
        </main>
        <footer class="footer">
            <div class="footer-content">
                <div class="footer-column">
                    <h4><a href="main.html">首頁</a></h4>
                    <ul>
                        <li><a href="#">TurboJet</a></li>
                        <li><a href="#">DieselJet</a></li>
                        <li><a href="#">SportJet</a></li>
                        <li><a href="#">Yacht Fitment</a></li>
                    </ul>
                </div>
                <div class="footer-column center column">
                    <h4><a href="portfolio.html">投資組合</a></h4>
                    <ul>
                        <li><a href="#">Build My Tender</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4><a href="analysis.html">績效分析</a></h4>
                    <ul>
                        <li><a href="#">Find a Dealer</a></li>
                        <li><a href="#">Dealer Login</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4><a href="aboutus.html">關於我們</a></h4>
                    <ul>
                        <li><a href="#">Find a Dealer</a></li>
                        <li><a href="#">Dealer Login</a></li>
                    </ul>
                </div>

                <div class="newsletter-signup">
                    <h4>MORE INFORMATION</h4>
                    <input type="email" placeholder="Email address">
                    <button>SUBSCRIBE</button>
                </div>
            </div>
            <div class="footer-bottom">
                <p>Copyright © 2024 National Taipei University of Technology. All rights reserved. </p>
            </div>
        </footer>
    </div>

    <!-- JavaScript 程式碼 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.12.0/headroom.min.js"></script>
    <script>
        // 選取導覽列
        const navbar = document.querySelector("header");

        // 初始化 Headroom
        const headroom = new Headroom(navbar);
        headroom.init(); // 啟用 Headroom
    </script>
</body>

</html>