<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>專題成果展</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="container">
        <aside>
            <nav>
                <ul>
                    <li><a href="aboutus.html">About us</a></li>
                    <li><a href="index.html">專題成果展示</a></li>
                    <li><a href="portfolio.html">投資組合</a></li>
                    <li><a href="#">績效分析</a></li>
                </ul>
            </nav>
        </aside>
        <main>
            <h1>專題成果展示</h1>
            <p>我們的主題是透過自然語言處理和機器學習建立最佳股票投資組合模型...</p>
        </main>
    </div>
</body>
</html>
